@charset "utf-8";

/* allGoods */
#allGoods{
    background: #fff;
}
.allgoods-wrap{
    position: relative;
    min-height: 600px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}
#allgoods-title>li>span{
    display: block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding-top: 20px;
}
#allgoods-title>li>span>b{
    font-size: 18px;
    color: #ff6700;
}
#allgoods-title>li>span>.iconfont{
    display: inline-block;
    font-size: 14px;
    width: 17px;
    height: 20px;
    border: 1px solid #b0b0b0;
    color: #b0b0b0;
    border-radius: 100%;
    line-height: 22px;
    padding-left: 3px;
    font-weight: 900;
    margin-right: 20px;
}
.goods-box {
    border-top: 1px solid #e0e0e0;
}
.goods-box li{
    width: 244px;
    height: 130px;
    padding-top: 30px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
    float: left;
}
.goods-box li img {
    margin: 0 auto;
    width: 70px;
    height: 70px;
}
.goods-box span a{
    font-size: 16px;
    color: #757575;
}
.goods-box span a:hover{
    color: #ff6700;
}